[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/vimfiler"]
	path = vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "vim/bundle/vimref"]
	path = vim/bundle/vimref
	url = git://github.com/thinca/vim-ref.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/unite_outline"]
	path = vim/bundle/unite_outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "vim/bundle/unite_mark"]
	path = vim/bundle/unite_mark
	url = git://github.com/tacroe/unite-mark.git
[submodule "vim/bundle/unite_git_grep"]
	path = vim/bundle/unite_git_grep
	url = git://github.com/sgur/unite-git_grep.git
[submodule "vim/bundle/unite_history"]
	path = vim/bundle/unite_history
	url = git://github.com/thinca/vim-unite-history.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
